
.filters#filters( data-target-list="#list" data-target-paginator="#listPaginator" data-target-api="/" )
   span Op zoek naar
   .filter( data-filter data-type="type1" data-value="option 1" )
      .filter__selected( data-selected="filter" )
         span mijn portfolio
      .filter__options#filter1
         .filter__option.is-selected( data-option="filter" data-value="contact.html" ) mijn portfolio
         .filter__option( data-option="filter" data-value="blog.html" ) waarmee ik werk
         .filter__option( data-option="filter" data-value="tarieven.html" ) mijn cv
         .filter__option( data-option="filter" data-value="tarieven.html" ) mijn telefoonnummer
   span.hidden-xs.hidden-sm &nbsp?

   .filter-search
     a(href="#" data-search-btn="").btn-search
        span.icon.icon-target
        |Goooo!

