
.filters#filters( data-target-list="#list" data-target-paginator="#listPaginator" data-target-api="/" )
   span Ik ben op zoek naar
   .filter( data-filter data-type="type1" data-value="option 1" )
      .filter__selected( data-selected="filter" )
         span de openingstijden
      .filter__options#filter1
         .filter__option.is-selected( data-option="filter" data-value="contact.html" ) de openingstijden
         .filter__option( data-option="filter" data-value="blog.html" ) nieuws
         .filter__option( data-option="filter" data-value="tarieven.html" ) de tarieven
         .filter__option( data-option="filter" data-value="contact.html" ) de openingstijden
         .filter__option( data-option="filter" data-value="lessen.html" ) groepslessen
         .filter__option( data-option="filter" data-value=" behandelingen.html" ) behandelingen

   .filter-search
     a(href="#" data-search-btn="").btn-search
        span.icon-magnifier
        |Zoeken

