footer.footer
   .container
      a.btn--rounded--secondary.btn.form-modal-trigger Maak een afspraak
      .row
         .col-sm-12.footer__col
             h3.footer__col__title Benieuwd wat wij kunnen betekenen voor u?
             p.footer__col__text Neem dan contact op:
               br
               |+31 (0)655181064 /
               a.footer__col__link(href="mailto:info@maasculinair.nl") info@maasculinair.nl

      .row
         .col-sm-12
            //ul.footer__menu
            //   li.footer__menu__item
            //      a(href="#") Over Maas culinair
            //   li.footer__menu__item
            //      a(href="#") Contact
            //   li.footer__menu__item
            //      a(href="#") Disclaimer
            //   li.footer__menu__item
            //      a(href="#") Privacy
            //   li.footer__menu__item.twitter
            //      a(href="#") Volg ons op Twitter
            //         i.icon-twitter2
