.lead(style="background-image:url('asset/image/background/background-1.jpg');")
   section.lead__top

           .container
               .row
                   .lead__vcentered
                       .col-sm-12.text-center
                            h1.lead__top__title Welkom beste bezoeker
                            include ../modules/filter

                   a(href="#verder").downlink
                       span.icon.icon-angle-down

           .lead-menu
               .container
                   a(href="")

           .angle-left
           .angle-right










