.navbar
   .navbar__container
      .navbar__menu
         a(href="#").navbar__brand
            | Aron martin
         .mobile-menu
            a(href="#wiezijnwij").navbar__menu__btn Wie zijn we?
            a(href="#watdoenwe").navbar__menu__btn Wat doen we?
            a(href="#tarieven").navbar__menu__btn Tarieven
            a(href="#tarieven").navbar__menu__btn Afspraak maken

         span.visible-xs.mobile-menu-trigger(mobile-menu-trigger href="#" title="Mobiel Menu")
            span MENU


