.portfolio
    .container
        h2 Portfolio
        br
        .row
            .col-md-4.col-sm-6
                .portfolio__item
                    .card(data-card-flip)
                        figure(style="background-image:url('asset/image/portfolio/stijlvan.jpg')").front
                            h5 Stijlvan | Promotie
                        figure.back
                            p Stijlvan is een tool waar iedereen zijn huisstijl kan beheren en borgen. Ik heb hier de front-end templates van de promotie pagina's gemaakt.
                            a(href="http://stijlvan.nl" target="_blank") Naar de website
            .col-md-4.col-sm-6
                .portfolio__item
                    .card(data-card-flip)
                        figure(style="background-image:url('asset/image/portfolio/inspectiefocus.jpg')").front
                            h5 SZW | Inspectiefocus

                        figure.back
                            p Gebruikers vinden snel wat ze zoeken. En één muisklik is genoeg om een bestand te downloaden. Ook delen is eenvoudig. Voeg er een e-mailadres aan toe en klaar.


            .col-md-4.col-sm-6
                .portfolio__item
                    .card(data-card-flip)
                        figure(style="background-image:url('asset/image/portfolio/woonstad.jpg')").front
                            h5 Woonstad | Kaart

                        figure.back
                            p Stijlvan biedt kant-en-klare modules voor de belangrijkste huisstijlelementen: logo's, kleuren, letters en richtlijnen.
            .col-md-4.col-sm-6
                .portfolio__item
                    .card(data-card-flip)
                        figure(style="background-image:url('asset/image/portfolio/ifactory.jpg')").front
                            h5 iFactory | Promotie
                        figure.back
                            p Stijlvan biedt kant-en-klare modules voor de belangrijkste huisstijlelementen: logo's, kleuren, letters en richtlijnen.

            .col-md-4.col-sm-6
                .portfolio__item
                    .card(data-card-flip)
                        figure(style="background-image:url('asset/image/portfolio/qompass.jpg')").front
                            h5 Qompass | Magazine
                        figure.back
                            p Wil je graag alle templates, foto's en kleuren voor een nieuw project bij elkaar zetten? Met Stijlvan maak je snel een verzameling waarin je verschillende huisstijlelementen combineert.

            .col-md-4.col-sm-6
                .portfolio__item
                    .card(data-card-flip)
                        figure(style="background-image:url('asset/image/portfolio/woonstad-2.jpg')").front
                            h5 Woonstad | Magazine
                        figure.back
                            p Een merk bouwen doe je niet alleen. Al je bestanden staan online, op één centrale plek. Alles binnen handbereik, in de nieuwste versie. Met Stijlvan werk je samen aan een krachtig merk.
