extends layout/main
append variables
    - var title = 'Maas Culinair';
    - var bodyClass = 'body--home';


append content

    include modules/lead


    .page-content
        .container
            .row
                .text-block.col-sm-4.pull-right
                    h2.text-block__title.hidden-xs &nbsp
                    .row
                        img.image--rounded.col-xs-6.col-sm-12(src="asset/image/presentatie.jpg" alt="presentatie osage")
                .text-block.col-sm-8
                    h2.text-block__title Wie ben ik ook alweer?
                    p.text-block__content Mijn naam is #[a(href="https://www.linkedin.com/in/aron-martin-3b528a86" target="_blank") Aron Martin] en ik woon in Rotterdam. Ik heb in het verleden mogen kennismaken met TamTam als stagair. Momenteel ben ik werkzaam als een zeer gedreven front-end developer bij #[a(href="http://osage.nl" target="_blank") Osage]. Naast mijn baan houd ik mijzelf als zzp’er bezig met het ontwerpen en het realiseren van websites voor mijn eigen klanten.
                    p.text-block__content Gedurende mijn werk en in mijn vrije tijd vind ik het leuk om innovatieve oplossingen en concepten te bedenken, te ontwerpen en te realiseren. Ik vind het hele proces interessant en belangrijk. Ik geloof niet in hokjes en ik ben van mening dat tegenwoordig veel disciplines elkaar overlappen. Ik ben ervan overtuigd dat als een developer zich verdiept en mengt in de concept- en ontwerpfase dit resulteert in een beter eindproduct. Tevens draagt dit bij aan de ontwikkeling en de verruiming van het blikveld van de developer.

        include modules/portfolio


        .container
            .row
                .text-block.col-sm-4.pull-right
                    h2.text-block__title.hidden-xs &nbsp
                    .row
                        img.image--rounded.col-xs-6.col-sm-12(src="asset/image/presentatie.jpg" alt="presentatie osage")
                .text-block.col-sm-8
                    h2.text-block__title Wie ben ik ook alweer?
                    p.text-block__content Mijn naam is #[a(href="https://www.linkedin.com/in/aron-martin-3b528a86" target="_blank") Aron Martin] en ik woon in Rotterdam. Ik heb in het verleden mogen kennismaken met TamTam als stagair. Momenteel ben ik werkzaam als een zeer gedreven front-end developer bij #[a(href="http://osage.nl" target="_blank") Osage]. Naast mijn baan houd ik mijzelf als zzp’er bezig met het ontwerpen en het realiseren van websites voor mijn eigen klanten.
                    p.text-block__content Gedurende mijn werk en in mijn vrije tijd vind ik het leuk om innovatieve oplossingen en concepten te bedenken, te ontwerpen en te realiseren. Ik vind het hele proces interessant en belangrijk. Ik geloof niet in hokjes en ik ben van mening dat tegenwoordig veel disciplines elkaar overlappen. Ik ben ervan overtuigd dat als een developer zich verdiept en mengt in de concept- en ontwerpfase dit resulteert in een beter eindproduct. Tevens draagt dit bij aan de ontwikkeling en de verruiming van het blikveld van de developer.

                    
    include modules/footer
    include modules/form-modal
    include modules/video-modal


