extends layout/main
append variables
    - var title = 'Home';
    - var bodyClass = 'body--home';

append content

    include modules/lead

    .text-block#watis
        p.intro-text Tijd is kostbaar, zeker als het om juridische zaken gaat. De Horeca_indicator helpt u snel te anticiperen. Het online dashboard toont u per vestiging alle relevante gegevens. Actueel en overzichtelijk – u kunt meteen beslissen.

        img(src="asset/image/image-dum.png")
    .image-text
        h3.image-text__title Horeca_indicator is er speciaal voor alerte horecaondernemers.
        p.image-text__text Deze interessante nieuwe dienst biedt u per vestiging een bondig overzicht van alles wat juridisch relevant is, zowel civiel- als bestuursrechtelijk. Van huurtarieven tot terrasgrootte, voortaan heeft u alle kansen en bedreigingen scherp in het vizier. Dat is het online gemak van Horeca_indicator.


    .text-block#hoewerkthet
            h2.text-block__title Hoe werkt het?
            p.text-block__content Succesvol ondernemen vraagt om regie en overzicht, zeker wanneer u meerdere vestigingen aanstuurt. Horeca_indicator geeft u een actueel inzicht in alle juridische aspecten die voor u van belang zijn. De tool wordt gevoed door onze specialisten. Zij volgen de regelgeving en handhaving in de horeca op de voet en relateren deze aan uw situatie. Verandert er iets, dan beoordelen wij direct of hierdoor kansen of risico’s voor u ontstaan. Denk aan arbeids- of huurovereenkomsten, of aan vergunningen. In uw dashboard ziet u vervolgens in één oogopslag wat er per vestiging speelt, nu én in de toekomst. Met Horeca_indicator kunt u reageren zodra dat nodig is.


    include modules/carousel

    include modules/voorbeelden


    .text-block
            h2.text-block__title Uw persoonlijke dossier
            p.text-block__content Daarnaast heeft u toegang tot al uw vergunningen en contracten in uw persoonlijke dossier. Snel en overzichtelijk.

    include modules/footer

    include modules/form-modal
    include modules/video-modal


