.btn-search {
    border:1px solid rgba(240,240,240,0.6);
    padding:0.5rem 2.2rem 0.5rem 4.2rem;
    display: inline-block;
    font-weight: 100;
    width:auto;
    color:#fff;
    transition: all 0.3s ease-in-out;
    font-size: 1.8rem;
    border-radius: 0.5rem;
    position: relative;
    margin-top:1rem;
    background-color: $color-primary--90;

    &:hover {
        background-color: white;
        color:#333;
    }
    span {
        position: absolute;
        top:50%;
        left: 1.3rem;
        transform: translate(0,-55%);
    }

    @media (max-width: $screen-sm){
        margin-top:0.5rem;
    }
}